header {
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #6DCCD8
}

p {
  text-align: center;
  color: #A9AAAC;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 80px;
  margin-right: 80px;
}

.subjects {
  font-size: 16px;
}

.container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}

.article-box{
  flex: 0 1 28%;
  display: flex;
  margin: 2px;
  padding: 20px;
}

.content {
}

img {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px;
  width: 200px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  margin: 10%; 
}

button {
  background-color: #97999C;
  border: none;
  color: #FFFFFF;
}
