header {
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #6DCCD8
}

p {
  text-align: center;
  color: #A9AAAC;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: 80px;
  margin-right: 80px;
}

.subjects {
  font-size: 16px;
}

.container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}

.article-box{
  flex: 0 1 28%;
  display: flex;
  margin: 2px;
  padding: 20px;
  align-items: center;
}

button {
  background-color: #97999C;
  border: none;
  text-decoration-color: #FFFFFF; 
}
